{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": 0,
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": 0,
    "jsx-a11y/label-has-associated-control": [2, { "assert": "either" }],
    "arrow-parens": [2, "as-needed"],
    "import/prefer-default-export": "off",
    "no-shadow": "off",
    "react/jsx-one-expression-per-line": 0,
    "no-console": "warn",
    "consistent-return": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": 0,
    "react/button-has-type": 0
  }
}
